<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Band Cloud</title>
</head>
<body>
<h1>Already created bands list</h1>
    <ul th:each="bandVar : ${bands}">
        <li><span>ID: </span><span th:text="${bandVar.id}"></span></li>
        <li><span>Name: </span><span th:text="${bandVar.name}"></span></li>
        <li><span>Genre: </span><span th:text="${bandVar.genre}"></span></li>
        <span>
            <a th:href="${'/bands/delete/' + bandVar.id}">Delete</a>
        </span>
        </br>
    </ul>
<a th:href="@{/}">back to the home page</a>
</body>
</html>
